<script setup lang="ts">
import {
  {{#if state }} ref, {{/if}}
  {{#if computed }} computed, {{/if}}
  {{#if watch }} watch {{/if}}
} from 'vue';

{{#if props }}
defineProps<{ 
  propValue: string;
}>();
{{/if}}

{{#if state }}
const exampleStr = ref('This is a state example');
{{/if}}

{{#if computed }}
const computedValue = computed(() => {
  return 'This is a computed value';
});
{{/if}}

{{#if actions }}
function exampleAction() {
  alert('Action executed');
}
{{/if}}

{{#if events }}
defineEmits(['exampleEvent']);
{{/if}}

{{#if watch }}
watch(exampleStr, (newVal) => {
  console.log('exampleStr changed:', newVal);
});
{{/if}}
</script>

<template>
  <div class="{{kebabCase name}}">
  {{#if state }}
    <p>{{ exampleStr }}</p>
  {{/if}}

  {{#if computed }}
    <p>{{ computedValue }}</p>
  {{/if}}

  {{#if props }}
    <p>Prop Value: {{ propValue }}</p>
  {{/if}}

  {{#if actions }}
    <button @click="exampleAction">Click me</button>
  {{/if}}
  </div>
</template>

<style scoped lang="scss">
  .{{kebabCase name}} {
    /* Component-specific styles */
  }
</style>
